<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Class Playlist</title>
</head>
<body>
  <header>
    <h1>Class Playlist</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/playlist">Full Playlist</a>
    </nav>
  </header>

  <!-- INDIVIDUAL PAGE CONTENT GOES HERE -->
  {{{ body }}}

  <footer>
    <p>Made with 💖 at Ironhack</p>
  </footer>
</body>
</html>
